# Dependências
node_modules/

# Build
dist/
dist-ssr/
*.local

# Ambientes
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace
.vscode-test
launch.json
settings.json

# Sistema Operacional
.DS_Store
Thumbs.db
.directory

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos temporários
.cache/
.temp/
tmp/

# Arquivos de teste
coverage/
.nyc_output/

# Miscellaneous
*.pem